<div class="create-note">
  <mat-card class="create-note__card">
    <mat-card-header class="create-note__header">
      <mat-card-title class="create-note__title">Create note</mat-card-title>
    </mat-card-header>
    <form [formGroup]="noteForm" (ngSubmit)="createNote()">
      <mat-card-content>
        <mat-form-field class="create-note__form-field">
          <mat-label>Title</mat-label>
          <input
            matInput
            [formControl]="titleFormControl"
            [errorStateMatcher]="errorMatcher"
          />
          @if (titleFormControl.hasError("required")) {
            <mat-error>Title is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="create-note__form-field">
          <mat-label>Content</mat-label>
          <textarea
            matInput
            [formControl]="contentFormControl"
            [errorStateMatcher]="errorMatcher"
            rows="10"
          ></textarea>
          @if (contentFormControl.hasError("required")) {
            <mat-error>Content is required</mat-error>
          }
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="create-note__actions">
        <button
          mat-flat-button
          color="accent"
          type="submit"
          [disabled]="noteForm.invalid"
        >
          CREATE
        </button>
      </mat-card-actions>
    </form>
    <mat-card-content>
      <app-text-formatting-help></app-text-formatting-help>
    </mat-card-content>
  </mat-card>
</div>
