<div class="show-note">
  <div class="show-note__cards">
    @if (note) {
      <mat-card class="show-note__card">
        <mat-card-header>
          <mat-card-title> {{ note.title }} </mat-card-title>
          <mat-card-subtitle>Created by: {{ note.creator }} </mat-card-subtitle>
          <mat-card-subtitle>Is encrypted: {{ note.isEncrypted }} </mat-card-subtitle>
        </mat-card-header>
      <mat-card-content>
        <p [innerHTML]="note.content | sanitizeHTML" class="show-note__content-text"></p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions class="show-note__actions">
  @if (note.isEncrypted) {
    <form [formGroup]="passwordForm" (ngSubmit)="encryptPassword()">
      <mat-form-field class="show-note__form-field">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          autocomplete="off"
          [formControl]="passwordFormControl"
        />
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="passwordForm.invalid"
        class="show-note__encrypt-button"
      >
        Encrypt note
      </button>
    </form>
    }
    <button mat-stroked-button color="warn" (click)="deleteNote(note.id)">
      DELETE
    </button>
  </mat-card-actions>
</mat-card>
    }
  </div>
</div>
